[PATH]
root = /home/fengTao/workspace/sentiment_analy
train = %(root)s/resources/data/ChnSentiCorp_htl_all.csvtrain.json
valid = %(root)s/resources/data/ChnSentiCorp_htl_all.csvvalid.json
test =  %(root)s/resources/data/ChnSentiCorp_htl_all.csvtest.json

model_root = %(root)s/models/pre_trained/bert-case-chinese
ptm_config = %(model_root)s
ptm_model = %(model_root)s
vocab = %(model_root)s/vocab.txt

save_path = %(root)s/models/saved_models/model_{0}

log = %(root)s/resources/log/log.txt

model_infer = %(root)s/models/saved_models/model_0.9317010309278351

result = %(root)s/resources/data/result.json
[DATA]
max_len = 500

batch_size = 16

num_label = 2

[MODEL]

learning_rate = 1.41e-05

chek_freq = 350

num_epochs = 20
